.explorer-container {
	height: calc(100vh - 66px - 20px);
	display: flex;
	flex-direction: column;
	background-color: rgb(16, 20, 23);
	color: #ffffff;
	margin: 0;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	align-items: center;
	justify-content: center;
}

/* Ensure no scrollbars on the page itself */
:global(body) {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(16, 20, 23);
}

:global(html) {
	margin: 0;
	padding: 0;
	background-color: rgb(16, 20, 23);
	:root {
		overflow: hidden;
	}
}
