.explorer-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Ensure no scrollbars on the page itself */
:global(body) {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(16, 20, 23);
}

:global(html) {
	margin: 0;
	padding: 0;
	background-color: rgb(16, 20, 23);
	:root {
		overflow: hidden;
	}
}
